# Entorno virtual
.venv/
venv/

# Archivos de datos locales
data.json

# Carpeta de pruebas temporales
tmp/

# Cachés y compilados
__pycache__/
*.pyc
*.pyo

# Herramientas y editores
.vscode/
.idea/

# pytest
.pytest_cache/

# Archivos de entorno
.env